<div class="description-cover">
  <img src="/images/covers/cover_01_large.jpg" />
  <div class="description-rating">
    <span class="rating">★★★★☆</span>
  </div>
</div>
<div class="description">
  <div class="description-title-author">
    <h2 style="display: inline"><%= locals.book.title %></h2>
    <h3 style="display: inline">by <%= locals.book.author %></h3>
  </div>
  <div class="description-info">
    <p>published: <%= locals.published %></p>
    <p>ISBN: <%= locals.book.isbn %></p>
    <p>Date read: <%= locals.date_read %></p>
  </div>
  <p class="description-summary"><%= locals.book.summary %></p>
  <%- include('./top-box-nav.ejs') %>
  <div class="book-notes">
    <h3>My Notes</h3>
    <p><%= locals.book.notes %></p>
  </div>
</div>
